.card {
  width: 300px; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  overflow: hidden;
  margin: 20px;  
  float: left;
}

.header {
  background: #4267b2;
  color: white;
  padding: 10px; 
}

.header h2 {  
  font-size: 15px;
  margin: 0;  
}

.content {
  padding: 10px;
} 

.meta {
  color: gray;
  font-size: 12px; 
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4); 
  transform: scale(1.03); 
}
