body {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar content content"
    "footer footer footer";
  grid-template-rows: 80px 1fr 70px;
  grid-template-columns: 20% 1fr 1fr;
  gap: 10px;
  height: 100vh;
}

header {
  grid-area: header;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}

footer {
  grid-area: footer;
  background: linear-gradient(
    to right,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  background: lightgray;
  padding: 10px;
  border-radius: 5px;
}

.content {
  grid-area: content;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 10px;
}
